


/*Modification to all*/
* {
    font-family: 'aaarghnormal', 'Times New Roman', Times, serif;
}
/*Modification to header*/

*{
    font-family: 'Times New Roman', Arial,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    min-height: 150px;
}

header .box{
    margin: auto;
    vertical-align: middle;
}

header h1{
    font-size: 4.0EM;
    font-weight: bold;
    text-decoration: underline;
}


/*Middle Section*/


aside {
    height: 100%; 
    position: fixed;
    width: 10%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.Liste{
    display: flex;
    margin: 100px 0 0 200px;
}


